@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Font Size Clamps: https://clamp.font-size.app/
 */

@layer base {
  body {
    @apply antialiased;
  }

  h1,
  .h1 {
    @apply text-4xl font-semibold leading-[120%] tracking-tight;
    font-size: clamp(theme(fontSize.4xl), 0rem + 4.6875vw, theme(fontSize.6xl));
  }

  h2,
  .h2 {
    @apply text-3xl font-semibold leading-[120%] tracking-tight;
    font-size: clamp(theme(fontSize.3xl), 1.3125rem + 1.1719vw, theme(fontSize.4xl));
  }

  h3,
  .h3 {
    @apply text-xl font-semibold leading-[133%] tracking-[-0.0125em];
    font-size: clamp(theme(fontSize.xl), 0.875rem + 0.7813vw, theme(fontSize.2xl));
  }

  h4,
  h5,
  h6,
  p {
    @apply text-base font-normal leading-[140%];
    font-size: clamp(theme(fontSize.base), 0.8125rem + 0.3906vw, theme(fontSize.lg));
  }

  small {
    @apply text-sm font-normal leading-[150%];
    font-size: clamp(theme(fontSize.sm), 0.6875rem + 0.3906vw, theme(fontSize.base));
  }

  hr {
    @apply h-px w-full border-none;

    &.hr-dark {
      @apply bg-black bg-opacity-25;
    }

    &.hr-light {
      @apply bg-white bg-opacity-25;
    }
  }

  @media screen(sm) {
    h1,
    .h1 {
      @apply leading-[110%] tracking-tight;
    }

    h2,
    .h2 {
      @apply leading-[120%] tracking-tight;
    }

    h3,
    .h3 {
      @apply leading-[133%] tracking-[-0.0125em];
    }

    h4,
    h5,
    h6,
    p {
      @apply leading-[140%];
    }

    small {
      @apply leading-[150%];
    }
  }
}